body{
    background-color: #CDFCF6;
    color: #3F4E4F;
    font-family: Lato;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #FFC074; 
    border-width: 3px;
    width: 2%;
  }
  a:link, a:visited{
    text-decoration: none;
    color: #3F4E4F;
  }
  a:hover{
    color: silver;
  }
  h1 {
    color: #65C18C;
  
  }
  h3 {
    color: #65C18C;
  }
  ul {
    list-style-type: circle;
  }
  table.headerindex{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
  }
  table.titlehobies{
    height: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  table.myhobies{
    height: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  table.work{
    height: 20px;
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  th.a, th.b{
    text-align: left;
  }
  table.skills{
    height: 20px;
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
