body{
    background-color: #CDFCF6;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #FEB139; 
    border-width: 3px;
    width: 2%;
  }
  h1 {
    color: #7FB77E;
  }
  h3 {
    color: #CED89E;
  }
  table.headerindex{
    margin-left: auto;
    margin-right: auto;
  }
  tr.imgalign{
    margin-left: auto;
    margin-right: auto;
  }
  tr.justify{
    text-align: justify;
  }