body{
    background-color: #CDFCF6;
    color: #3F4E4F;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #FFC074; 
    border-width: 3px;
    width: 2%;
  }
  h1 {
    color: #65C18C;
  }
  h3 {
    color: #65C18C;
  }
  table.headerindex{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
  }
  table.work{
    height: 20px;
    width: 25%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  th{
    text-align: left;
  }
  table.skills{
    height: 20px;
    width: 25%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
